.article {
  &-list {

    &-item {
      &__link {
        color: $green-light !important;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.see-all-articles {
  border-color: $green-light;
  color: $green-light !important;
}