.button {
  background: $green-light !important;
  border: none;
  transition: $ease;
  text-decoration: none;
  color: $white !important;

  //todo: should it be animated?
  &:hover, &:active, &:focus {
  //  background: $green-dark;
  //  color: $white;
  }
}