.community-recent-activity {
  a {
    color: $green-light;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &-item {
    border: 1px solid $grey;
    padding: 10px;
    border-radius: 4px;
    height: 100%;

    &__title {
      color: $green-light;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    &__content {
      font-size: 80%;
      margin: 0;
    }
  }

  &__list {
    margin: 0 -7px;
  }

  .slick {
    &-track {
      display: flex;
    }

    &-slide {
      height: inherit !important;
      padding: 0 7px;
      > div {
        height: 100%;
      }
    }

    &-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px 0 0;

      li {
        margin: 0 5px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        width: 12px;
        height: 12px;
        text-indent: -9999px;
        background: $grey;
        opacity: .3;
        transition: $ease;
        cursor: pointer;

        &.slick-active {
          opacity: 1;
          background: $green-light;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

}