.custom {

  &-block {
    &__icon {
      circle {
        stroke: $green-light !important;
      }
      path{
        stroke: $green-light !important;
        fill: $green-light !important;
      }
    }
  }
}