.footer {
  background: $green-dark;

  .logo {
    @include media(phone) {
      margin: 0 auto;
      display: block;
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }

  &__col {
    @include media(phone) {
      width: 100%;
    }

    &--social-links {
      margin-left: auto;
      @include media(phone) {
        margin: 20px auto 0;
        text-align: center;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    @include media(phone) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__copyright {
    color: #A4B69D;
    line-height: 140%;
    padding-top: 40px;

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-social-link {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 0 10px;
    padding: 0;
    display: inline-block;

    &--facebook {
      background-image: url("https://cdn.makespace.com/s/img/ws/facebook.svg");
    }

    &--twitter {
      background-image: url("https://cdn.makespace.com/s/img/ws/twitter.svg");
    }

    &--yelp {
      background-image: url(https://cdn.makespace.com/s/img/ws/yelp-symbol.svg);
    }

    &--google-plus {
    }

    &--pinterest {
      background-image: url("https://cdn.makespace.com/s/img/ws/pinterest.svg");
    }

    &--instagram {
      background-image: url("https://cdn.makespace.com/s/img/ws/instagram.svg");
    }
  }
}