.footer-submit-ticket {
  &__btn {
    .button {
      display: inline-flex;
      height: 50px;
      padding: 0 25px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}