.hero{
  &-unit{
    &:after {
      background-color: rgba(0,0,0,0.5);
      opacity: 1;
    }
  }
  &-bg{
    background-image: url(https://cdn.makespace.com/s/img/ws/tv-hero.jpg);
    background-position: top center;
  }
}