.intro {
  max-width: 100%;
  color: $white;

  &-title {
    font-size: 56px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: 0.1px;
    font-weight: 300;
    @include media(phone) {
      font-size: 38px;
      text-align: left;
    }

    span {
      border-bottom: 4px solid $green-light;
    }
  }

  &-content {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 18px;

    p {
      margin: 24px 0;
    }

    a {
      color: $green-light;
    }
  }

  &-search {
    input[type="search"] {
      margin-left: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="submit"] {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @extend .button;
    }
  }

  &-footer {

  }
}