.topbar {
  background: $green-dark;

  &__controls {
    display: flex;
    align-items: center;
  }

  &__button {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 50px;
    border-radius: 0;
    line-height: 120%;
    align-items: center;
    padding: 0 24px;
    margin-left: 10px;
    border: none;
    display: inline-flex;

    &:first-child {
      margin-left: 0;
    }
  }
}