@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Light-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Light.subset.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/Biotif-LightItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/Biotif-LightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Book-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Book.subset.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BookItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BookItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Regular-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Regular.subset.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-RegularItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBold-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBold.subset.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBoldItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Bold-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Bold.subset.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF
}

@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BoldItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF
}
