@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Light-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Light.subset.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/Biotif-LightItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/Biotif-LightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Book-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Book.subset.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BookItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BookItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Regular-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Regular.subset.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-RegularItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBold-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBold.subset.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBoldItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Bold-subset.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-Bold.subset.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; }
@font-face {
  font-family: 'Biotif';
  src: local("MS_Biotif"), local("Biotif"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BoldItalic.woff2") format("woff2"), url("https://cdn.makespace.com/s/fonts/MS_Biotif-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; }
body {
  font-family: "Biotif", Arial, sans-serif; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.article-list-item__link {
  color: #39ae5a !important; }
  .article-list-item__link:hover {
    text-decoration: underline; }

.see-all-articles {
  border-color: #39ae5a;
  color: #39ae5a !important; }

.button, .intro-search input[type="submit"] {
  background: #39ae5a !important;
  border: none;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  text-decoration: none;
  color: #fff !important; }

.community-recent-activity a {
  color: #39ae5a;
  text-decoration: underline; }
  .community-recent-activity a:hover {
    text-decoration: none; }
.community-recent-activity-item {
  border: 1px solid #eceeef;
  padding: 10px;
  border-radius: 4px;
  height: 100%; }
  .community-recent-activity-item__title {
    color: #39ae5a;
    font-weight: bold;
    display: block;
    margin-bottom: 5px; }
  .community-recent-activity-item__content {
    font-size: 80%;
    margin: 0; }
.community-recent-activity__list {
  margin: 0 -7px; }
.community-recent-activity .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.community-recent-activity .slick-slide {
  height: inherit !important;
  padding: 0 7px; }
  .community-recent-activity .slick-slide > div {
    height: 100%; }
.community-recent-activity .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 0 0; }
  .community-recent-activity .slick-dots li {
    margin: 0 5px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    background: #eceeef;
    opacity: .3;
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    cursor: pointer; }
    .community-recent-activity .slick-dots li.slick-active {
      opacity: 1;
      background: #39ae5a; }
    .community-recent-activity .slick-dots li:hover {
      opacity: 1; }

.custom-block__icon circle {
  stroke: #39ae5a !important; }
.custom-block__icon path {
  stroke: #39ae5a !important;
  fill: #39ae5a !important; }

.footer-submit-ticket__btn .button, .footer-submit-ticket__btn .intro-search input[type="submit"], .intro-search .footer-submit-ticket__btn input[type="submit"] {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  padding: 0 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px; }

.footer {
  background: #0f3916; }
  @media screen and (max-width: 480px) {
    .footer .logo {
      margin: 0 auto;
      display: block;
      text-align: center; }
      .footer .logo img {
        display: inline-block; } }
  @media screen and (max-width: 480px) {
    .footer__col {
      width: 100%; } }
  .footer__col--social-links {
    margin-left: auto; }
    @media screen and (max-width: 480px) {
      .footer__col--social-links {
        margin: 20px auto 0;
        text-align: center; } }
  .footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 480px) {
      .footer__inner {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__copyright {
    color: #A4B69D;
    line-height: 140%;
    padding-top: 40px; }
    .footer__copyright p {
      margin: 0; }
    .footer__copyright a {
      text-decoration: underline;
      color: inherit; }
      .footer__copyright a:hover {
        text-decoration: none; }
  .footer-social-link {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 0 10px;
    padding: 0;
    display: inline-block; }
    .footer-social-link--facebook {
      background-image: url("https://cdn.makespace.com/s/img/ws/facebook.svg"); }
    .footer-social-link--twitter {
      background-image: url("https://cdn.makespace.com/s/img/ws/twitter.svg"); }
    .footer-social-link--yelp {
      background-image: url(https://cdn.makespace.com/s/img/ws/yelp-symbol.svg); }
    .footer-social-link--pinterest {
      background-image: url("https://cdn.makespace.com/s/img/ws/pinterest.svg"); }
    .footer-social-link--instagram {
      background-image: url("https://cdn.makespace.com/s/img/ws/instagram.svg"); }

.hero-unit:after {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1; }
.hero-bg {
  background-image: url(https://cdn.makespace.com/s/img/ws/tv-hero.jpg);
  background-position: top center; }

.intro {
  max-width: 100%;
  color: #fff; }
  .intro-title {
    font-size: 56px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: 0.1px;
    font-weight: 300; }
    @media screen and (max-width: 480px) {
      .intro-title {
        font-size: 38px;
        text-align: left; } }
    .intro-title span {
      border-bottom: 4px solid #39ae5a; }
  .intro-content {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 18px; }
    .intro-content p {
      margin: 24px 0; }
    .intro-content a {
      color: #39ae5a; }
  .intro-search input[type="search"] {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .intro-search input[type="submit"] {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.logo {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo span {
    margin: 0 10px -5px; }
    @media screen and (max-width: 480px) {
      .logo span {
        display: none; } }

.promoted-articles-item__title {
  color: #39ae5a; }

.scroll-to-top {
  border-color: #39ae5a !important;
  color: #39ae5a !important; }

.topbar {
  background: #0f3916; }
  .topbar__controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .topbar__button {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 50px;
    border-radius: 0;
    line-height: 120%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 24px;
    margin-left: 10px;
    border: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .topbar__button:first-child {
      margin-left: 0; }
