//colors
$white: #fff;
$green-dark: #0f3916;
$green-light: #39ae5a;
$grey: #eceeef;

//fonts
$biotif: 'Biotif', Arial, sans-serif;

//animation
$ease: all .4s ease;


//mixins
@mixin media($point) {
  @if $point == large {
    @media screen and (max-width: 1440px) { @content; }
  }
  @if $point == desktop {
    @media screen and (max-width: 1280px) { @content; }
  }
  @else if $point == tablet {
    @media screen and (max-width: 1024px) { @content; }
  }
  @else if $point == mobile {
    @media screen and (max-width: 768px) { @content; }
  }
  @else if $point == phone {
    @media screen and (max-width: 480px) { @content; }
  }
}